
        :root {
            --primaryColor: #0095FF;
            --secondaryColor: #00D19C;
            --thirdColor:#1E2B3C;
            --iconColor: #0078CC;
            --iconColorOp: #33CBAA;
            --iconColorOp2: #66D3FF;
        }
        